.timeline {
    position: relative;
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px;
    margin-top: 100px;
    list-style-type: none;
    margin-bottom: 100px;
 }

.direction-l {
    position: relative;
    width: 470px;
    float: left;
    text-align: right;
    margin-left: 1.5px;
 }

.direction-r {
    position: relative;
    width: 470px;
    float: right;
    padding-left: 2px;
 }