/* Fonts */

@font-face {
  font-family: "syne";
  src: url("/fonts/Syne-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "syne-b";
  src: url("/fonts/Syne-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "syne-s";
  src: url("/fonts/Syne-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "glock";
  src: url("/fonts/Gloock-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gara";
  src: url("/fonts/EBGaramond-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --animate-delay: 0.5s;
  --white: #FFFFFF;
  --gray: #999999;
  --black: #111111;
  --image-container-bg: #222222;
  --timeline-dot: #FFFFFF;
  --timeline-dot-inner: #000000;
}

body {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

body.light-mode {
  background-color: var(--white) !important;
  color: var(--black) !important;
  --image-container-bg: #CCCCCC;
  --timeline-dot: #000000;
  --timeline-dot-inner: #FFFFFF;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--black);
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  position:fixed;
  top: 60px;
  height: 8px;
  background: white;
}

/* Remove default button styles */
#theme-toggle {
  background: none; /* No background */
  border: none !important;
  outline: none; /* Remove outline on focus */
  text-decoration: none; /* Remove any text decorations */
  cursor: pointer; /* Change cursor to pointer for interactivity */
}
