/* Fonts */

@font-face {
  font-family: "syne";
  src: url("/fonts/Syne-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "syne-b";
  src: url("/fonts/Syne-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "syne-s";
  src: url("/fonts/Syne-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "glock";
  src: url("/fonts/Gloock-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gara";
  src: url("/fonts/EBGaramond-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --animate-delay: 0.5s;
  --white: #FFFFFF;
  --gray: #999999;
  --black: #111111;
  --image-container-bg: #222222;
  --timeline-dot: #FFFFFF;
  --timeline-dot-inner: #000000;
}

body {
  background-color: var(--black) !important;
  color: var(--white) !important;
}

body.light-mode {
  background-color: var(--white) !important;
  color: var(--black) !important;
  --image-container-bg: #CCCCCC;
  --timeline-dot: #000000;
  --timeline-dot-inner: #FFFFFF;
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--black);
}

/* progress container (grey background) */
.progress-container {
  width: 100%;
  position:fixed;
  top: 60px;
  height: 8px;
  background: white;
}

/* remove default button styles */
#theme-toggle {
  background: none;
  border: none !important;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #151515 !important;
    padding-bottom: 20px;
  }

  .navbar-nav {
    background-color: #151515 !important;
  }

  .nav-item {
    background-color: #151515 !important; /* Ensure all items match */
  }
  .navbar{
    background-color: #151515 !important;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0; top: 0; width: 100%; height: 100%;
  overflow: auto; background-color: rgba(0,0,0,0.9);
}

.modal-content {
  max-height: auto; width: auto; max-width: 1000px; max-height: 75vh;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  box-shadow: 0 4px 16px rgba(0,0,0,0.5);
  border-radius: 15px;
}

.close:hover, .close:focus { color: #bbb; text-decoration: none; cursor: pointer; }